<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD0ORJ66-8bytvF5UM4WlKHQh-UFSdh1Ag</string>
	<key>GCM_SENDER_ID</key>
	<string>140261152873</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterAnimeMangaApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-anime-manga-app</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-anime-manga-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:140261152873:ios:b1806eda28ef6471e22af8</string>
</dict>
</plist>